---
- name: Ensure certbot is installed
  ansible.builtin.apt:
    name: certbot
    state: present
    update_cache: yes

- name: Ensure webroot exists
  ansible.builtin.file:
    path: "{{ le_webroot }}/.well-known/acme-challenge"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Ensure certbot deploy hook directory exists
  ansible.builtin.file:
    path: /etc/letsencrypt/renewal-hooks/deploy
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Ensure Certbot renewal deploy hook to reload Apache
  ansible.builtin.template:
    src: reload-apache.sh.j2
    dest: /etc/letsencrypt/renewal-hooks/deploy/reload-apache.sh
    mode: "0755"

- name: Obtain or update certificate
  ansible.builtin.command: >
    certbot certonly
    --non-interactive
    --agree-tos
    --email {{ le_email }}
    --webroot
    -w {{ le_webroot }}
    {% for domain in le_domains %}
    -d {{ domain }}
    {% endfor %}
    {{ certbot_extra_args }}
  register: certbot_result
  changed_when: "'Congratulations' in certbot_result.stdout"

- name: Reload Apache container if certificate was issued or updated
  command: "{{ reload_apache_command }}"
  when: certbot_result is changed
